version: '3'

services:
  zabbix-proxy:
    image: INDIQUE O ENDEREÇO DA IMAGEM QUE SERÁ USADA
    container_name: INDIQUE O NOME DO CONTAINER
    restart: always
    ports:
      - "10051:10051" ##porta padrão do proxy
    environment:
      - ZBX_HOSTNAME= NOME DO PROXY QUE FOI DEFINIDO NO PAINEL DO ZABBIX
      - ZBX_SERVER_HOST= ENDEREÇO IP DO SERVIDOR DO ZABBIX
    volumes:
      - /var/log/zabbix/zabbix_proxy:/var/log/zabbix/
